@model IEnumerable<HRMIS.Models.AppClasses.AppliedLeaves>

@{
    ViewData["Title"] = "ShowAppliedLeaves";
}

<h1>Applied Leaves</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.EmpId">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.EmpId">Approve</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpId">Reject</a>
            </td>
        </tr>
}
    </tbody>
</table>
